.fig-canvas{
  width: 768px;
  height: 768px;
  border: none;
}

body{
  background-image: url("img/bg.jpg");
  margin: 0px;
  padding: 0px;
}

#title{
  padding: 4px;
  color: #ffffff; 
  background-color: #404040;
  box-shadow: 0px 6px 8px rgba(0,0,0,0.3);
}

#title a{
  color: inherit;
  text-decoration: underline;
}

#controls{
  background-color: #D0D0D0;
  box-shadow: 0px 6px 8px rgba(0,0,0,0.3);
}
